@font-face {
  font-family: G-Poppins-n4;
  src: url('../data/fonts.gstatic.com_s_poppins_v5_hlvAxH6aIdOjWlLzgm0jqg.ttf');
}
@font-face {
  font-family: G-Poppins-n3;
  src: url('../data/fonts.gstatic.com_s_poppins_v5_VIeViZ2fPtYBt3B2fQZplvesZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: G-Poppins-n6;
  src: url('../data/fonts.gstatic.com_s_poppins_v5_-zOABrCWORC3lyDh-ajNnPesZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: G-Poppins-n5;
  src: url('../data/fonts.gstatic.com_s_poppins_v5_4WGKlFyjcmCFVl8pRsgZ9vesZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: G-Poppins-n7;
  src: url('../data/fonts.gstatic.com_s_poppins_v5_8JitanEsk5aDh7mDYs-fYfesZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: "G-Open Sans-n4";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_IgZJs4-7SA1XX_edsoXWog.ttf');
}